.container {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  width: 100px;
}

button:focus {
  outline: none;
}

.dislike {
  background-color: tomato;
  color: #ffffff;
}

.like {
  background-color: greenyellow;
  color: #333333;
}
