.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 76px;
    background-color: purple;
    display: flex
}

.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
}

.nav-links li{
    background-color: cyan;
    flex-basis: 50px;
    height: 30px;
    margin-right: 12px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 84px;
    margin-bottom: 8px;
    height: 430px;
    width: 670px;
}

.sidebar{
    background-color: green;
    width: 218px;
}

.main{
    background-color: yellow;
    width: 454px;
    order: 1;
}

footer{
    display: block;
    background-color: grey;
    height: 56px;
    width: 672px;
}

