<div class="b-content">

  <div class="b-manage">
    <h1 class="b-title">
      Manage questions
    </h1>
    <div class="b-questionsCard">
      <div class="b-question" *ngFor="let question of questions">
        <p class="b-question__title">
          {{question.question}}
        </p>
        <button class="b-question__editButton" (click)="editQuestion(question)">
          EDIT
        </button>
        <button class="b-question__deleteButton" (click)="deleteQuestion(question)">
          DELETE
        </button>
      </div>
    </div>
  </div>

  <div class="b-create">
    <h1 class="b-title">
      Create a new question
    </h1>
    <div class="b-formCard">
      <form class="b-createForm" #createQuestionForm="ngForm" (ngSubmit)="onSubmit(createQuestionForm)">
        <input ngModel name="question" #question="ngModel" class="b-createForm__input" type="text" placeholder="Type your question here"
          required>
        <h2 class="b-createForm__title">
          Answers
        </h2>
        <div class="b-createForm__answer" *ngFor="let number of [0,1,2,3]; let i=index">
          <p class="b-answer__number">
            #{{i+1}}
          </p>
          <input ngModel name="answer{{i}}" #answer{{i}}="ngModel" type="text" placeholder="Type your answer here" required class="b-createForm__input">
          <input ngModel name="isCorrect" #isCorrect="ngModel" type="radio" value="{{i}}" required class="b-createForm__radioButton">
        </div>
        <button [disabled]="!createQuestionForm.valid" type="submit" class="b-formCard__submitButton">SUBMIT</button>
      </form>
    </div>
  </div>

</div>