<div class="b-content">

  <div class="b-manage">
    <h1 class="b-title">
      Manage questions
    </h1>
    <div class="b-questionsCard">
      <div class="b-question" *ngFor="let question of questions; let i=index">
        <p class="b-question__title">
          {{question.question}}
        </p>
        <button class="b-question__editButton" (click)="toggleEdit(i)">
          EDIT
        </button>
        <button class="b-question__deleteButton" (click)="deleteQuestion(question)">
          DELETE
        </button>
        <div *ngIf="edit.index === i && edit.isToggled">
          <app-question-form (save)="renderQuestions()" [editQuestion]="question"></app-question-form>
        </div>
      </div>
    </div>
  </div>

  <div class="b-create">
    <h1 class="b-title">
      Create a new question
    </h1>
    <app-question-form (save)="renderQuestions()"></app-question-form>
  </div>

</div>
