* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

table {
    max-width: 500px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.container {
    margin: 10px 0;
}

.theader {
    background-color: #333333;
    color: #f2f4f7;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    border-collapse: collapse;
}

#name {
    width: 400px;
}

#price {
    width: 100px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f4f7;
}

tbody tr:nth-child(even) {
    background-color: white;
}

.names {
    text-align: left;
}

.prices {
    text-align: center;
    font-weight: bold;
}

.prices:after {
    content: attr(data-currency);;
}

.namesh1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
}

.nonAlcholic {
    font-size: 14px;
}

.namesp {
    font-size: 12px;
    text-transform: lowercase;
}

td {
    padding: 15px;
}