.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 280px;
    background-color: yellow;
    list-style: none;
}

.item{
    height: 108px;
    width: 108px;
    background-color: purple;
    margin-right: 7px;
}