* {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

body {
    background-color: #487EF0;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    border-bottom: solid 4px grey;
}

th {
    background-color: #212229;
    color: #B3B8C3;
    width: 364px;
    height: 96px;
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
}

td {
    color: grey;
    height: 80px;
}

td, th {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

tr:nth-child(odd) {
    background-color: #EAEAEA;
}

td:before {
    content: attr(data-currency);
}


