* {
    margin: 0;
    padding: 0;
}

:root {
    --border-radius: 10px;
}

.layout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

body {
    background-color: #487EF0;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
}

thead {
    border-bottom: solid 4px grey;
}

thead :first-child {
    -webkit-border-top-left-radius: var(--border-radius);
}

thead :last-child {
    -webkit-border-top-right-radius: var(--border-radius);
}

tfoot :first-child {
    -webkit-border-bottom-left-radius: var(--border-radius);
}

tfoot :last-child {
    -webkit-border-bottom-right-radius: var(--border-radius);
}

th {
    background-color: #212229;
    color: #B3B8C3;
    width: 364px;
    height: 96px;
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
}

td {
    color: grey;
    height: 80px;
}

td, th {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

tr:nth-child(odd) {
    background-color: #EAEAEA;
}



