:root {
    --button-width: 50px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    padding-top: 20px;
}

.mainContent {
    display: flex;
    height: 80%;
    justify-content: center;
    position: relative;
    width: 80%;
}

.mainButton {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    bottom: 0;
    position: absolute;
    top: 0;
    width: var(--button-width);
}

.pictureContainer {
    position: relative;
    width: 100%;
}

#leftButton {
    left: 0;
}

#rightButton {
    right: 0;
}

#activePicture {
    height: 100%;
    width: 100%;
}

.pictureDescription {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #f2f4f7;
    left: var(--button-width);
    padding: 20px;
    position: absolute;
    right: 0;
}

#pictureH1 {

}

#pictureP {

}

.thumbnails {

}

.thumbnailButton {

}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.thumbnailPicture {
    height: 100px;
    width: 100px;
}


