:root {
    --button-width: 50px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    padding: 20px 0;
}

.title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.mainContent {
    display: flex;
    border-radius: 4px;
    height: 60%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 60%;
}

.mainButton {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    bottom: 0;
    position: absolute;
    top: 0;
    width: var(--button-width);
}

.pictureContainer {
    position: relative;
    width: 100%;
}

#leftButton {
    left: 0;
}

#rightButton {
    right: 0;
}

#activePicture {
    height: 100%;
    width: 100%;
}

.pictureDescription {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #f2f4f7;
    left: var(--button-width);
    padding: 20px;
    position: absolute;
    right: 0;
}

#pictureH1 {

}

#pictureP {

}

.thumbnails {
    display: flex;
    height: 40%;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

.thumbnailButton {
    --thumbnail-width: 300px;
    height: var(--thumbnail-width);
    width: var(--thumbnail-width);
    margin: 0 5px;
    padding: 20px;
    background-color: #999999;
    border-radius: 2px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.thumbnailPicture {
    height: 100%;
    width: 100%;
}


