<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed</title>
    <link rel="stylesheet" href="/assets/detailed.css">
</head>
<body>
<h1>DETAILED: <%= cityId %> </h1>
</body>
</html>