<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed</title>
    <link rel="stylesheet" href="/assets/detailed.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>
<body>
<h1 class="title"><%= forecasts[cityId].city %> </h1>
<div class="cardContainer">
    <% forecasts[cityId].weather.forEach(e => { %>
    <div class="card">
        <img class="icon" src="/../assets/pictures/<%= e.icon %>.png">
        <p class="temp" tempScale="°C"><%= e.temp %></p>
        <p class="message"><%= e.message %></p>
    </div>
    <% }) %>
</div>
<a class="homePage" href="/">SHOW ALL CITIES</a>
</body>
</html>