html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.b-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-answers__answer {
  padding: 16px;
  background-color: lightblue;
  color: #333333;
  text-align: center;
  margin: 8px 0;
  border-radius: 2px;
}

.b-answer--correct {
  background-color: green;
}

.b-answer--incorrect {
  background-color: red;
}

.b-footer {
  margin-top: 16px;
}

.b-footer__navigation {
  color: blue;
  text-decoration: none;
}

.b-profilPic__picture {
  border-radius: 100%;
  overflow: hidden;
}
