<div *ngIf="!isGameOver; else gameOver" class="b-content">
  <div class="b-header">
    <h1 class="b-header__lives">LIVES: {{lives}}</h1>
    <h1 class="b-header__score">SCORE: {{score}}</h1>
  </div>

  <div class="b-question">
    <h2 class="b-question__title">{{question}}</h2>
    <div class="b-question__answers">
      <div [ngClass]="answerClass" *ngFor="let answer of answers" (click)="checkAnswer(answer)">{{answer.answer}}</div>
    </div>
  </div>

  <div class="b-footer">
    <a class="b-footer__navigation" routerLink="/questions"> Manage questions</a>
  </div>
</div>

<ng-template #gameOver class="b-content">
  <div class="b-gameover__header">
    <h1 class="b-header__title">Congratulations, you LOST!</h1>
    <p class="b-header__description">You got {{score}} questions right. Unfortunately you couldn't beat Jack's score, but better luck next time! </p>
    <div class="b-header__profilPic">
      <img class="b-profilPic__picture" src="https://i.pinimg.com/originals/93/b4/21/93b4219da971cd869e8e215253f4eb39.jpg" alt="Simply Jack">
      <p class="b-profilPic__name">Jack</p>
    </div>
  </div>

  <div class="b-restart">
    <p class="b-restart__title">Do you want to try again?</p>
    <button class="b-restart__button" (click)="restartGame()">Yes</button>
    <button class="b-restart__button" (click)="restartGame()">Definitely</button>
    <button class="b-restart__button b-restart__button--absolutely" (click)="restartGame()">Absolutely!!!</button>
  </div>
</ng-template>