<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <script src="../assets/javascript/modify.js"></script>
    <link rel="stylesheet" href="../assets/css/modify.css">
</head>

<body>
    <form class="addPostForm">
        <label class="titleLabel">
            <span class="titleSpan">TITLE</span>
            <input class="titleInput" type="text" required placeholder="Title" autofocus>
        </label>
        <label class="urlLabel">
            <span class="urlSpan">URL</span>
            <input class="urlInput" type="text" placeholder="URL" required>
        </label>
        <input type="button" value="SUBMIT" class="submitButton">
    </form>
</body>

</html>