<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="../assets/css/signin.css">
</head>

<body>

    <h1 class="title">ACCOUNT LOGIN</h1>
    <form class="loginForm">
        <label id="usernameLabel">
            <span id="usernameSpan">USERNAME</span>
            <input id="usernameInput" type="text">
        </label>
        <label id="passwordLabel">
            <span id="passwordSpan">PASSWORD</span>
            <input id="passwordInput" type="password">
        </label>
        <input type="button" value="Login">
    </form>

</body>

</html>