<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../assets/css/signup.css">
    <script src="../assets/javascript/signUp.js"></script>
</head>

<body>

    <h1 class="title">CREATE ACCOUNT</h1>
    <form class="signUpForm">
        <label id="usernameLabel">
            <span id="usernameSpan">USERNAME</span>
            <input id="usernameInput" type="text" required>
        </label>
        <label id="passwordLabel">
            <span id="passwordSpan">PASSWORD</span>
            <input id="passwordInput" type="password" required>
        </label>
        <input type="button" value="Create account" id="submit">
    </form>
    <p class="signInParagraph">Already have an account?
        <a href="http://localhost:3000/signin" class="signUp">SIGN IN</a>
    </p>
</body>

</html>