.container {
  padding: 16px;
  background-color: #ffffff;
  margin: 16px 0;
  border-radius: 4px;
}

.title {
  text-align: center;
}

.subTitle {
  font-size: 24px;
  align-self: flex-start;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#questionInput {
  width: 100%;
  align-self: flex-start;
}

.answerContainer {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  vertical-align: middle;
  box-sizing: border-box;
}

mat-radio-group {
  width: 100%;
}

.answer {
  margin: auto 20px;
}

.order {
  margin: auto 0;
  font-size: 20px;
  text-align: center;
}

mat-radio-button {
  margin: auto;
}
