<div class="container">
  <h1 class="title">Create new question</h1>
  <form class="addForm" [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">
    <mat-form-field id="questionInput" appearance="outline" class="full-width">
      <mat-label>Type your question here</mat-label>
      <input matInput formControlName="description" type="text">
    </mat-form-field>
    <h1 class="subTitle">Answers</h1>
    <mat-radio-group formControlName="is_correct">
      <div class="answerContainer" *ngFor="let element of [0,1,2,3]; let i=index">
        <p class="order">{{i+1}}# </p>
        <mat-form-field class="answer" appearance="outline">
          <mat-label>Type your answer here</mat-label>
          <input matInput formControlName="answer{{i}}" type="text">
        </mat-form-field>
        <mat-radio-button value="{{i}}" [checked]="i === addQuestionForm.get('is_correct').value" type="radio">
        Correct
        </mat-radio-button>
      </div>
    </mat-radio-group>
    <button mat-flat-button [disabled]="!addQuestionForm.valid" type="submit">SUBMIT</button>
  </form>
</div>
