.container {
  display: flex;
  flex-direction: column;
  padding: 64px 128px;
  background-color: #9fc5d5;
}

.questionsContainer {
  border-radius: 4px;
  padding: 16px 16px 0 16px;
  background-color: #fff;
}

.question {
  margin-top: 16px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  box-sizing: border-box;
}

app-add-question {
  width: 100%;
}

app-question {
  width: 100%;
}
