* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.inputButton {
    display: flex;
}

.listContainer{
    display: flex;
}

.charList{
    margin-left: 20px;
    list-style: none;
}

.movieList{
    list-style: none;
}

.inputLabel {

}

.charNameInput {

}

.submitButton {

}