html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.questionBox {
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button{
    display: block;
    width: 100%;
}

.active {
    background-color: green;
}

.missed{
    background-color: red;
}

