<form [formGroup]="questionForm" class="b-questionForm" (ngSubmit)="onSubmit()">
  <input formControlName="_id" type="hidden">
  <input formControlName="question" class="b-questionForm__input" type="text" placeholder="Type your question here">
  <h2 class="b-questionForm__title">
    Answers
  </h2>
  <div class="b-questionForm__answer" *ngFor="let row of [0,1,2,3]; let i=index">
    <p class="b-answer__number">
      #{{i+1}}
    </p>
    <input formControlName="answer{{i+1}}" type="text" placeholder="Type your answer here" class="b-questionForm__input">
    <input formControlName="isCorrect" type="radio" value="{{i}}" [checked]="i === questionForm.get('isCorrect').value" class="b-questionForm__radioButton">
  </div>
  <button [disabled]="!questionForm.valid" type="submit" class="b-formCard__submitButton">SUBMIT</button>
</form>
