* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #3A2362;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 20px;
    color: white;
    height: 52px;
    line-height: 52px;
    width: 138px;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
    border-top: solid 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.blue:hover {
    background-color: #6265b7;
}

.blue:active {
    background-color: #383a7a;

}

.green:hover {
    background-color: #00f074;
}

.green:active {
    background-color: #008a43;

}

.red:hover {
    background-color: #ea4346;
}

.red:active {
    background-color: #b31417;

}

.blue {
    background-color: #484B9D;
    border-top-color: #5577bf;
}

.green {
    background-color: #00BB59;
    border-top-color: #66cb7f;
}

.red {
    background-color: #E2191C;
    border-top-color: #dc6453;
}