*{
    margin: 0;
    padding: 0;
}

div{
    background-color: #3A2362;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

button{
    display: block;
    margin-right: 20px;
    color: white;
    height: 48px;
    line-height: 48px;
    width: 144px;
    font-size: 18px;
    text-align: center;
}

.blue:hover{
    background-color: #6265b7;
}

.blue:active{
    background-color: #383a7a;

}

.green:hover{
    background-color: #00f074;
}

.green:active{
    background-color: #008a43;

}

.red:hover{
    background-color: #ea4346;
}

.red:active{
    background-color: #b31417;

}

.blue{
    background-color: #484B9D;
}

.green{
    background-color: #00BB59;
}

.red{
    background-color: #E2191C;
}