.sidenav-container {
  height: 100%;
  z-index: 100;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}


.mat-toolbar {
  margin-right: 24px;
}

.hidden {
  display: none;
}
