.title {
  font-size: 48px;
  margin: 64px auto 24px;
  text-align: center;
}

.statistics {
  font-size: 32px;
  margin: 16px auto;
  text-align: center;
}

.restartContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 24px;
  margin: 16px auto;
  text-align: center;
}

.restart {
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

.restart:hover {
  opacity: 0.8;
}

.restart:focus {
  outline: none;
}
