h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radioButtons {
  margin-bottom: 16px;
}

button {
  margin: auto 0;
  height: 36px;
  width: 96px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: #f2f4f7;
}
